@charset "UTF-8";
body {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #f5f5f5;
}

.formAddNew {
	max-width: 900px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
		 -moz-border-radius: 5px;
					border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
		 -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
					box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.formHeading{
	margin-bottom: 40px;
	margin-top:80px;
}
.unselectable{
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.icon{
	margin-right: 30px
}
.topBarDivider{
	margin-bottom:50px;
	margin-top:40px;
}
.disInline{
	display:inline;
}
.modalBtn{
	margin:10%;
}
.noMargin{
	margin:0;
}
.day{
	margin-left:5px;
}
.whitebg{
	background: #fff !important;
	text-align: left !important;
}
.duedate{
	margin-top: 10px;
}
.starSize{
	font-size: 1.3em;
	margin-left: 0px;
}
.starPadding{
	padding-left:5px;
	text-align: left;
}
.starStyle{
	margin-top: 3px !important;
	margin-right: 15px !important;
	text-decoration: none !important;
}
.menuStarStyle{
	margin-top: 3px !important;
	margin-left: 5px !important;
}
.itemText{
	text-decoration: none !important;
}
.checkStyle{
	margin-top: 3px !important;
	margin-right: 10px !important;
	text-decoration: none !important;
}
.checkedStyle{
	margin-top: 3px !important;
	margin-right: 9px !important;
	text-decoration: none !important;
}
.sepLine{
	background-color: #e5e5e5;
	height: 36px;
	width: 1px;
	margin-top: -8px;
	margin-right: 20px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	 -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
				box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.trash{
	margin-top: 30px;
	font-size: 2em;
}
.calendar{
	font-size: 2em;
	margin-right: 40px;
}
#trash {
	width:60%;
	height: 50px;
	margin-left: -20%;
	padding-left: 20%;
	-webkit-transition: text-shadow linear 0.2s;
	-moz-transition: text-shadow linear 0.2s;
	-ms-transition: text-shadow linear 0.2s;
	-o-transition: text-shadow linear 0.2s;
	transition: text-shadow linear 0.2s;
}
#trash.active {
	text-shadow: 0 0 2px rgba(0, 136, 204, 1);
}





/* clock pick css */
#CP_hourcont {
padding: 0px;
position:absolute;
border:1px dashed #bbbbbb;
background-color:#dddddd;
display:none;
z-index: 4000;
}

#CP_minutecont {
background-color:#dddddd;
padding: 0px;
position:absolute;
width:45px;
border: 1px dashed #cccccc;
display:none;
z-index: 4000;
}

.floatleft {
float:left;
z-index: 4000;
}

.CP_hour {
padding:1px;
font-family: Arial, Helvetica, sans-serif;
font-size:9px;
white-space:nowrap;
cursor:pointer;
width:35px;
margin:1px;
background-color:#eeeeee;
z-index: 4000;
}

.CP_minute {
padding:1px;
background-color:#eeeeee;
font-family: Arial, Helvetica, sans-serif;
font-size:9px;
white-space:nowrap;
cursor:pointer;
width:auto;
margin:1px;
z-index: 4000;
}

.CP_over {
background-color:#ffffff;
z-index: 4000;
}



/* Accordion styling */
.accordion-heading
.accordion-hover:hover{
	background: #eee;
	text-decoration: none;
}




.addSubTask{
	color: rgb(50, 150, 50);
	font-size: 24px;
	margin-left: 5px;
}
.addSubTask:hover{
	color: rgb(30, 130, 30);
}
.addSubTask:active{
	color: rgb(20, 120, 20);
}
.status{
	margin: 10px 0px 0px -20px !important;
}
.completed .accordion-toggle{
	text-decoration: line-through !important;
	color: #999 !important;
}

ul, li{
	list-style: none;
}
.fade{
	opacity: .3;
}

.formAddNewDark{
  background-color: rgb(60, 60, 60);
  border: 1px solid rgb(0, 0, 0);
}
.topBarDividerDark{
  border-top: 1px solid rgb(40,40,40);
  border-bottom: 1px solid rgb(40,40,40);

}
.accordion-groupDark{
  border: 1px solid rgb(0,0,0) !important;
}
.accordion-hoverDark:hover{
  background: #888 !important;
  text-decoration: none !important;
}
.sepLineDark{
  background-color: rgb(0,0,0)
}
.themeBtn{
  margin-right: 10px;
}